@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
 
*{
  scroll-behavior: smooth!important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
 
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
 
    --border: 220 13% 91%;
    --input: 220 13% 91%;
 
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
 
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
 
    --ring: 217.9 10.6% 64.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
 
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
 
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
 
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
 
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
 
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
 
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 215 27.9% 16.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background: #333;
    color: white;
    scroll-behavior: smooth;
  }
   
  section{
    @apply min-h-screen pt-[58px]
  }
  input[type='text'], input[type='email'],  input[type='password'], input[type='search']{
    @apply focus:outline-zinc-400 w-[271px] rounded-md  outline-none bg-[#222]
  }
  /* input[type='password']{
    @apply outline-red-300
  } */
  input{
    outline: none;
    @apply p-3 outline-none border-none border-white  
  }
  .article{
    @apply min-h-[70vh]  grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4
  }
  .rel{
    @apply relative
  }
  .imp{
    @apply img cursor-pointer
  }
  .search-div{
    @apply flex top-[60px] px-2 z-20 fixed items-center w-screen transition-all
  }
  .search-box{
    @apply pl-3 p-2 w-full bg-[#222]
  }
  .search{
    @apply text-2xl sm:hidden cursor-pointer
  }
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
  .popImg{
    width: 100vw;
    height: 100%;
  }
  .drop{
    @apply flex flex-col gap-3 -bottom-[90px] backdrop-blur-lg rounded-md p-3 items-start absolute right-0 scale-0 transition-all
  }
  .img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .sidem{
    @apply h-screen p-3 w-[300px] z-50 fixed top-14 bg-[#111] transition-all 
  }
  a{
    @apply underline 
  }
  .info-heading{
    font-weight: 900;
    @apply md:text-4xl mb-9 mt-14 capitalize sm:text-3xl text-2xl lg:text-5xl text-center sm:text-left 
  }
 
  .hide{
    @apply fixed flex p-1 items-center justify-center bottom-5 right-3 z-50 rounded-[50%] bg-[#222] text-4xl transition-all scale-0
  }
  .scrolled{
    @apply  scale-100
  }
  .att{
    font-family: 'Dela Gothic One', cursive;
  }
  .nt-att{
    font-family: 'Montserrat', sans-serif;
  }
}